smtp:
  host: yoursmtp.com 
  port: 587 
  user: user 
  pass: password
  sender: no-reply@yoursmtp.com

web:
  port: 8081

convert:
  darwin: /Applications/calibre.app/Contents/MacOS/ebook-convert
  linux: /usr/bin/ebook-convert
  winidows: ebook-convert
